# Auto detect text files and perform LF normalization
* text=auto

# JavaScript
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf

# Python
*.py text eol=lf

# Markdown
*.md text eol=lf

# Shell scripts
*.sh text eol=lf
*.bat text eol=crlf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.pkl binary
*.npy binary
